<style>
    .button-edit {
    background: linear-gradient(to right, rgb(234, 76, 3), rgb(95, 89, 87))
    }
</style>


{% extends 'base.html' %} 

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" style="font-size: x-large; font-weight: bold; -webkit-text-fill-color: #ffffff;" href="{% url 'main:show_main' %}">Dhemas's Music Inventory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="navbar-nav ms-auto">
                    <span class="navbar-text" style="font-size: large;">Welcome, {{ name }}</span>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'main:show_main' %}">Home</li>
                        <li><a class="dropdown-item" href="{% url 'main:create_product' %}">Add a new product</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Edit Product</h2>

              <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <div >
                                <input type="submit" name="submit" value="Edit Product"
                                class="btn btn-success btn-block btn-lg button-edit text-body"/>
                              </div>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
           </div>
          </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-light text-center py-3" style="position: relative; bottom: 0; width: 100%;">
    <div class="container">
        <p>Dhemas Music Inventory</p>
    </div>
</footer>


{% endblock content %}