<!-- Table from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_th -->
<style>
 table, th, td {
        border-collapse: collapse;
    }

table, th, td {
  border: 2px solid black;
}
</style>

{% extends 'base.html' %}

{% block content %}
    <h1>Cloud's Inventory</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Option</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in products %}
        <tr>
            <td><center>{{item.name}}</center></td>
            <td><center>{{item.amount}}</center></td>
            <td>{{item.description}}</td>
            <td>
                <div style="display: flex; justify-content: space-between;">
                <form method="post" action="{% url 'main:add_to_inventory' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Plus (+1)">
                </form>
            
                <form method="post" action="{% url 'main:remove_from_inventory' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Min (-1)">
                </form>
                <form method="post" action="{% url 'main:delete_item' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
                </div>
            </td>
        </tr>
        
    {% endfor %}
</table>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}